.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: white;
}

.nav-logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 22px;
  gap: 90px;
}

.nav-menu-links {
  padding: 10px 20px; 
  border-radius: 50px; 
  transition: 0.3s, color 0.3s; 
}

.nav-menu-links:hover {
  background: #fff;
  color: #262626;
  cursor: pointer;
}

